mixin bottom-navbar(name, ...tabs)
  .botnav-left
    a(href='/' class='reddit-header') Reddit
    span(class='page-name') Page
    ul(class='tab-menu')
      each tab in tabs
        li: a(href!= 'r/' + name + '/' + tab)=tab
        
  .botnav-right
    if user
      span(class='user')
        a(href='google.com') #{user.username}
        span(class='user-karma' title='post karma') #{user.totalScore}
        span(class='separator') |
        form(class='logout hover' method='post' action='/logout')
          a(href='javascript:void(0)' onclick='$(this).parent().submit()')
      
      
    
    
      
