mixin bottom-navbar(title, ...tabs)
  .botnav-left
    a(href='/' class='reddit-header') Reddit
    span(class='page-name')=title
    ul(class='tab-menu')
      each tab in tabs
        li: a(href!= title + '/' + tab)=tab
        
  .botnav-right
    if user
      span(class='user')
        a(href='google.com') #{user.username}
        span(class='user-karma' title='post karma') #{user.totalScore}
        span(class='separator') |
        form(class='logout hover' method='post' action='/uath/logout')
          a(href='javascript:void(0)' onclick='$(this).parent().submit()')
    else
        a(href='/uauth/register') Register
        a(href='/uauth/login') Login
      
      
