mixin bottom-navbar(pageTitle, ...tabs)
  .botnav-left
    a(href='/' class='reddit-header')
    span(class='page-name')=pageTitle
    ul(class='tab-menu')
      if subreddit
        each tab in tabs
          li: a(href!= '/r/' + subreddit.name + '/' + tab)=tab
        
  .botnav-right
    if user
      span(class='user')
        a(href='google.com') #{user.username}(
        span(class='user-karma' title='post karma') #{user.totalScore})
        span(class='separator') |
        a(class='logout hover' href='/uauth/logout') Logout
          
    else
        a(href='/uauth/register') Register
        span(class='separator') |
        a(href='/uauth/login') Login
      
      
