extends header

block css 
  link(href='css/header-styles.css', rel='stylesheet')
  link(href='css/subreddit-styles.css', rel='stylesheet')
  link(href='css/form-styles.css', rel='stylesheet')

block content
  if errors
    ul
    each error in errors
      li= error.msg
  form(method='post', action='/r/create')
    .form-group
      label.formLabel name:
      br
      input.formInput(name='name', type='text')
    .form-group
      label.formLabel title:
      br
      input.formInput(name='title', type='text')
    .form-group
      label.formLabel description:
      br
      textarea.formInput(name='description', rows='4')
    .form-group
      label.formLabel sidebar:
      br
      textarea.formInput(name='sidebar', rows='6')
    br
    input(type='submit', value='Submit')
