include top-navbar-mixin.pug
include bottom-navbar-mixin.pug

doctype html
html(lang="en")

  head
    title reddit-clone
    block css
      link(href='css/header-styles.css', rel='stylesheet')
        
  body
    block header
      div.header
        +top-navbar(topBarSubreddits)
        if subreddit
          +bottom-navbar(title || subreddit.title, "best", "hot", "new", "rising", "top")
        else if userScore
          +bottom-navbar(title, "posts", "comments", "upvotes", "downvotes")
        else 
          +bottom-navbar(title)

    block content
  footer
    p Copyright &copy; Joseph Woodside and Corey Sutphin
    
  script.
    var user = !{ JSON.stringify(user) }
    if (user)
      window.user = user.username
  block script
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    script(src='/js/main.js')
    script(src='/js/event-tracker.js')
  
