include top-navbar-mixin.pug
include bottom-navbar-mixin.pug

doctype html
html(lang="en")

  head
    title reddit-clone
    script(src='js/event-tracker.js')
    block css
      link(href='css/header-styles.css', rel='stylesheet')
  body(onload='load()')
    block header
      div.header
        +top-navbar(topBarSubreddits)
        +bottom-navbar(title || subreddit.title, "Best", "Hot", "New", "Rising", "Top")
    block content
