include top-navbar-mixin.pug
include bottom-navbar-mixin.pug

doctype html
html(lang="en")

  head
    title reddit-clone
    block css
      link(href='css/header-styles.css', rel='stylesheet')
  body
    block header
      div.header
        +top-navbar
        +bottom-navbar
    block content
