extends header

block css 
  link(href='/css/header-styles.css', rel='stylesheet')
  link(href='/css/subreddit-styles.css', rel='stylesheet')
  link(href='/css/form-styles.css', rel='stylesheet')

block content
  if errors
    ul
    each error in errors
      li= error.msg
  form(method='post', action='/r/' + subreddit.name + '/submit_text_post')
    .form-group
      label.formLabel title:
      br
      textarea.formInput(name='title', rows='3')
    .form-group
      label.formLabel text:
      br
      textarea.formInput(name='text', rows='5')
    br
    input(type='submit', value='Submit')
