include top-navbar-mixin.pug
include subreddit-navbar-mixin.pug

doctype html
html(lang="en")

  head
    title reddit-clone
    link(href='css/subreddit-styles.css', rel='stylesheet')

  body
    header
      +top-navbar("Funny", "News", "Gaming")
      +subreddit-navbar
    p section
    div.testdiv
    footer
      p section
