extends header

block css 
  link(href='css/header-styles.css', rel='stylesheet')
  link(href='css/subreddit-styles.css', rel='stylesheet')
    
block content
  p section
  if user
    p Welcome, #{user.username}! Your Karma is #{user.totalScore}.
  div.testdiv
  footer
    p section
