extends header.pug
include top-navbar-mixin.pug
include bottom-navbar-mixin.pug

block css 
  link(href='css/header-styles.css', rel='stylesheet')
  link(href='css/subreddit-styles.css', rel='stylesheet')
    
block header
  div.header(role='banner')
    +top-navbar("Funny", "News", "Gaming")
    +bottom-navbar("Subreddit", "Best", "Hot", "New", "Rising", "Top")

block content
  p section
  if user
    p Welcome, #{user.username}! Your Karma is #{user.totalScore}.
  div.testdiv
  footer
    p section
