extends header.pug
include sidebar-mixin.pug
include post-expanded-mixin.pug
include comment-mixin.pug

block css 
  link(href='/css/header-styles.css', rel='stylesheet')
  link(href='/css/subreddit-styles.css', rel='stylesheet')
  link(href='/css/sidebar-styles.css', rel='stylesheet')
  link(href='/css/comment-styles.css', rel='stylesheet')

block content
  +sidebar(subreddit)
  +post-expanded({"upvotes": post.upvotes, "downvotes": post.downvotes,"_id": post._id, 
    "title": post.title, "timestamp": post.timestamp, "user": post.user, 
    "subreddit": post.subreddit, "content": post.content})
  .commentInfo
    h3 comments
    hr
    .dropdown
      span sort by 
        b Top
        span.dropdown-arrow
      span.dropdown-content
        a.sortLink(href='/post/' + post._id + '/sort/top') Top
        a.sortLink(href='/post/' + post._id + '/sort/new') New
  .submitComment
    if !user
      h2 Please login to submit a comment
    else
      if errors
        ul
          li= errors.msg
      form(method='post', action='/post/' + post._id + '/submitComment')
        textarea.commentTextArea(name='commentContent', rows='7', cols='75')
        br
        input.commentSubmitButton(type='submit', value='save')
  each comment in postComments
    +Comment(comment)
  footer
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    script(src='/js/comments.js')
