mixin top-navbar([...subreddits])
  .topnav
    .topnav-list
      ul
        each subreddit, index in subreddits
          li
            if index != 0
              span(class='separator') - 
            a(href!='r/' + subreddit)= subreddit
