mixin top-navbar(...subreddits)
  .topnav
    .topnav-list
      ul
        each subreddit in subreddits
          li
            span(class='separator') - 
            a(href!='r/' + subreddit)=subreddit
