extends header

block content
  if errors
    ul
    each error in errors
      li= error.msg
  h1 User registration
  form(method='post', action='/register')
    #form-group
      label Email:
      input(name='email', type='email')
    #form-group
      label Username:
      input(name='username', type='text')
    #form-group
      label Password:
      input(name='password', type='password')
    #form-group
      label Confirm Password:
      input(name='pass_confirmation', type='password')
    br
    input(type='submit', value='Submit')
