extends header.pug 
include post-mixin.pug
include comment-mixin.pug

block css 
  link(href='/css/header-styles.css', rel='stylesheet')
  link(href='/css/subreddit-styles.css', rel='stylesheet')  
  link(href='/css/comment-styles.css', rel='stylesheet')

block content
  h2!=userScore
  if posts
    div.post-table
      each post, index in posts
        +post({"upvotes": post.upvotes, "downvotes": post.downvotes,"_id": post._id, 
          "title": post.title, "timestamp": post.timestamp, "user": post.user, 
          "subreddit": post.subreddit}, (index + 1))
  else if comments
    each comment in comments
      +Comment(comment)
    
    
