/* Styles for submitting comments on post page*/

.submitComment {
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.commentSubmitButton {
  padding: 1px 5px 1px 5px;
  margin-top: 5px;
  margin-right: 5px;
}

/* Container for the whole comment in the comment mixin*/
.commentContainer {
  display: flex;
  flex-direction: row;
  margin: 5px 5px 5px 10px;
  font-size: 12px;
}

/* Contains the upvote and downvote arrows*/
.voteContainer {
  display: flex;
  flex-direction: column;
  margin: 2px;
  margin-top: 5px;
  margin-right: 5px;
}

/* Container for everything but the arrows to get a column display*/
.commentInfoContainer {
  display: flex;
  flex-direction: column;
  margin-left: 3px;
  max-width: 40vw;
}

/* Div container for the topbar info of user, total points, and time since posted*/
.user_points_timeSince {
  display: flex;
  flex-direction: row;
}

/* Selects all children of the topbar container besides the first */
.user_points_timeSince > *:not(:first-child) {
  margin-left: 5px;
  color: #888;
  font-size: 11px;
}

/* Gives all elements besides the vote buttons a small margin*/
.commentInfoContainer > * {
  margin-bottom: 3px;
}

/* The comment poster username*/
.commentUsername {
  color: #369;
}

/* The reply link on the comment*/
.commentReply {
  color: #888;
  font-weight: bold;
  font-size: 11px;
}

/* Styling for the actual comment content*/
.commentContent {
  font-size: 14px;
}

/* Div containing the form for a comment reply*/
.replyBox {
  display: none;
}

/* Div containing the form for a comment edit*/
.editBox {
  display: none;
}

.editButton {
  color: #888;
  font-weight: bold;
  font-size: 11px;
  margin-left: 4px;
}

.bottomBarContainer {
  display: flex;
  flex-direction: row;
}
