.form-group {
  width: 30vw;
  background-color: #CEE3F8;
  padding: 5px;
  margin-top: 5px;
  max-width: 350px;
}

.formLabel {
  color: blue;
  font-weight: bold;
}

.formInput {
  width:25vw;
  margin-top: 5px;
  max-width: 300px;
}
