.header {
  border-bottom: 1px solid #5f99cf;
  position: relative;
  background-color: #cee3f8;
  z-index: 99;
  font: normal x-small verdana,arial,helvetica,sans-serif;
}

.separator {
  color: gray;
  margin: 0px .7ex 0px .7ex;
  cursor: default;
}

.ul {
  list-style: none;
}

/*Top navbar for all subscribed subreddits */
.topnav {
  background-color: #f0f0f0;
  white-space: nowrap;
  text-transform: uppercase;
  border-bottom: 1px solid gray;
  font-size: 90%;
  line-height: 18px;
  min-height: 18px;
  height: 2vh;
  position: absolute;
}

.topnav-list {
  overflow: hidden;
  list-style-type: none;
  display: inline;
}

.topnav li {
  display: inline;
  white-space: nowrap;
}

.topnav a {
  color: black;
  text-decoration: none;
}

.topnav a:hover {
  text-decoration: underline;
}

/* CSS for 2nd navbar */
.botnav {
  font-size: larger;
}

.reddit-logo {
  display: inline-block;
  text-decoration: none;
  min-height: 40px;
  color: black;
}

/* The tab options for the second navbar, ex: 'Hot', "New', 'Rising', etc */
.tab-menu {
  list-style-type: none;
  white-space: nowrap;
  display: inline-block;
  margin-top: 5px;
  margin-left: 8px;
  vertical-align: bottom;
}

.tab-menu li {
  display: inline;
  font-weight: bold;
  margin: 0px 3px;
}

.tab-menu li a {
  padding: 2px 6px 0 6px;
  background-color: #eff7ff;
  text-decoration: none;
  color: #000;
}
