/* Top level div for both navbars */
.header {
  border-bottom: 1px solid #5f99cf;
  position: relative;
  background-color: #cee3f8;
  z-index: 99;
  font: normal x-small verdana,arial,helvetica,sans-serif;
}

.separator {
  color: gray;
  margin: 0px .7ex 0px .7ex;
  cursor: default;
}

.ul {
  list-style: none;
}

/*Top navbar for all subscribed subreddits */
.topnav {
  background-color: #f0f0f0;
  white-space: nowrap;
  text-transform: uppercase;
  border-bottom: 1px solid gray;
  font-size: 90%;
  line-height: 18px;
  position: absolute;
  left: 0px;
  right: 0px;
  padding-left: 5px;
}

.topnav-list {
  overflow: hidden;
  list-style-type: none;
  display: inline;
}

.topnav li {
  display: inline;
  white-space: nowrap;
}

.topnav a {
  color: black;
  text-decoration: none;
}

.topnav a:hover {
  text-decoration: underline;
}

/* CSS for 2nd navbar */
.botnav-left {
  font-size: larger;
  height: auto;
  min-height: 60px;
  display: flex;
  align-items: flex-end;
}
/*CSS for the reddit logo displayed in the header */
.reddit-header {
  background-image: url('../images/reddit-logo.jpg');
  background-size: 65px 40px;
  background-repeat: no-repeat;
  height: 40px;
  width: 80px;
  display: inline-block;
  vertical-align: bottom;
  margin-left: 5px;
}

/*.reddit-logo {
  text-indent: -9999px;
  background-image: url(../images/reddit-logo.jpg);
  background-position: 0px -1323px;
  background-repeat: no-repeat;
  height: 40px;
  width: 120px;
  display: inline-block;
  vertical-align: bottom;
  margin-bottom: 3px;
  margin-top: 2px;
  margin-right: 5px;
} */

/* The tab options for the second navbar, ex: 'Hot', "New', 'Rising', etc */
.tab-menu {
  list-style-type: none;
  white-space: nowrap;
  margin-top: 5px;
  margin-left: 8px;
  vertical-align: bottom;
}

.tab-menu li {
  display: inline;
  font-weight: bold;
  margin: 0px 3px;
}

.tab-menu li a {
  padding: 2px 6px 0 6px;
  background-color: #eff7ff;
  text-decoration: none;
  color: #369;
}

.page-name {
  font-weight: bold;
  margin-right: 1ex;
  font-variant: small-caps;
  font-size: 1.2em;
  vertical-align: bottom;
}

.botnav-right {
  position: absolute;
  right: 0px;
  bottom: 0px;
  background-color: #EFF7FF;
  padding: 4px;
  line-height: 12px;
  border-top-left-radius: 7px;
}

.botnav-right user {
  color: gray;
}

.botnav-right user-karma {
  font-weight: bold;
}
