a {
  text-decoration: none;
}
/*Top level container for the whole sidebar */
.sidebarContainer {
  width: 16vw;
  height: auto;
  min-height: 20vh;
  float: right;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*Div placeholder for the searchbar */
.searchBarPH {
  border: 1px solid gray;
  width: 90%;
  height: 3vh;
  min-height: 30px;
  margin-top: 5px;
  text-align: center;
}

/*The div that contains the login form to be shown in the sidebar if a user is not logged in */
.loginDiv {
  height: 6vh;
  width: 90%;
  min-height: 50px;
  margin-top: 10px;
  border: 1px solid gray;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/*The input boxes, username, password, submit */
.sidebarInput {
  width: 45%;
  height: 2vh;
  margin-top: 3px;
}

/*The submission button */
#sidebarLogin {
  width: 20%;
}

/*The submit text post div */
.submit_text_post {
  width: 90%;
  height: 3vh;
  min-height: 30px;
  background-color: #CEE3F8;
  margin-top: 10px;
  border: 1px solid #369;
  text-align: center;
}

.submit_text_post a {
  font-size: 150%;
  font-weight: bold;
  color: #369;
  line-height: 29px;
  letter-spacing: -1px;
}

.sidebarInfo {
  width: 90%;
  height: auto;
  margin-top: 10px;
  font-size: 150%;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.subredditName {
  font-size: 18px;
  font-weight: bold;
  color: black;
  margin-bottom: 5px;
}

.nameAndNumSubbed {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.numSubbed {
  font-size: .9em;
}

.subredditName:hover {
  text-decoration: underline;
}

/* The subscribe button in the sidebar*/
.subscribe {
  font-size: 12px;
  background-color: #27ad1d;
  text-align: center;
  color:white;
  width: 35%;
  margin-bottom: 5px;
  border-radius: 5px;
  border: 1px solid black;
}

/* The unsubscribe button */
.unsubscribe {
  font-size: 12px;
  background-color: #d30e22;
  text-align: center;
  color:white;
  width: 35%;
  margin-bottom: 5px;
  border-radius: 5px;
  border: 1px solid black;
}
