* {
  margin: 0;
  padding: 0;
}

.body {
  font: normal x-small verdana,arial,helvetica,sans-serif;
}

/* */
.topnav {
  background-color: #f0f0f0;
  border-bottom: 1px solid gray;
  text-transform: uppercase;
  font-size: 90%;
  line-height: 18px;
  min-height: 18px;
  height: 2vh;
  width: 100%;
  overflow: hidden;
  position: fixed;
}

.topnav ul  {
  list-style-type: none;
  margin: 0;
  padding: 0;
  min-width: 780px;
}

.topnav li {
  display: inline;
}

.topnav li a {
  color: black;
  text-align: center;
  padding: 8px;
  text-decoration: none;
  font: normal x-small verdana,arial,helvetica,sans-serif;
  font-size: 65%;
}

.topnav li a:hover {
  text-decoration: underline;
}

.subreddit-navbar {
  background-color: #cee3f8;
  border-bottom: 1px solid #5f99cf;
  min-height: 50px;
  height: 5vh;
  width: 100%;
  display: block;
  padding-top: 2vh;
}

.subreddit-navbar h2 {
  vertical-align: bottom;
}

.testdiv {
  height: 2000px;
  width: 100px;
}
