* {
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  font: normal x-small verdana,arial,helvetica,sans-serif;
  background-color: white;
  z-index: 1;
  min-height: 100%;
}

.testdiv {
  height: 2000px;
  width: 100px;
}
